In [1]:
import pandas as pd

In [19]:
neighborhood_data = pd.read_csv('neighborhood_data.csv', 
                                header=None)

new_columns = ['nb', 'area','2010_income',
                     '2015_income', '2010_population',
                     '2015_population']

In [20]:
neighborhood_data = neighborhood_data.rename(columns=dict(zip(neighborhood_data.columns,
                                                              new_columns)))

In [32]:
sum_p = neighborhood_data.groupby('area', as_index=False)['2010_population', '2015_population'].sum()
sum_p = sum_p.rename(columns={'2010_population': '2010_sum_p',
                              '2015_population': '2015_sum_p'})

In [35]:
neighborhood_data = neighborhood_data.merge(sum_p, left_on='area', right_on='area')

In [36]:
neighborhood_data['population_por_2010'] = neighborhood_data['2010_population']/neighborhood_data['2010_sum_p']

In [37]:
neighborhood_data['population_por_2015'] = neighborhood_data['2015_population']/neighborhood_data['2015_sum_p']

In [39]:
neighborhood_data['temp_2010'] = neighborhood_data['2010_income']*neighborhood_data['population_por_2010']

neighborhood_data['temp_2015'] = neighborhood_data['2015_income']*neighborhood_data['population_por_2015']

In [44]:
sum_income = neighborhood_data.groupby('area',as_index=False)['temp_2010', 'temp_2015'].sum()

In [45]:
sum_income

  area      temp_2010      temp_2015
0    d   87718.921898   97365.286063
1    m   92649.429333  105543.549658
2    u   40359.538017   43660.733728
3   ue  104400.000000  103560.000000
4   uw   98410.000000  102130.000000

In [50]:
neighborhood_agg = pd.merge(sum_p, sum_income, left_on='area', right_on='area')

In [73]:
foo = neighborhood_agg.set_index('area').T.to_dict()
years = list(range(2010, 2017))

In [89]:
nbh_income_info = {area: [] for area in foo.keys()}

for area in foo:
    #population_rate = (foo[area]['2015_sum_p'] - foo[area]['2010_sum_p'])/5
    income_rate = (foo[area]['temp_2015'] - foo[area]['temp_2010'])/5
    
    for i in range(7): 
        nbh_income_info[area].append(foo[area]['temp_2010'] + i*income_rate)

In [93]:
import json

In [95]:
json.dump(nbh_pop_info, open('nbh_pop_info.json','w'))