In [ ]:
#! pip install holidays

# Import Libraries

In [1]:
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import requests, os, sys
import pyspark
import json
import time
import datetime
import numpy as np
import holidays
from pyspark.sql import SQLContext
from pyspark.sql.functions import *
from pyspark.sql.types import *
#from shapely.geometry import Point, Polygon
from matplotlib import path

if sys.version_info.major == 3:
    from io import StringIO
else:
    from StringIO import StringIO

warnings.filterwarnings('ignore')
pd.options.display.mpl_style = 'default'

%matplotlib inline

# Test Spark Cluster

In [ ]:
# for testing

# make sure pyspark tells workers to use python3 not 2 if both are installed
#os.environ['PYSPARK_PYTHON'] = '/home/ubuntu/anaconda3/bin/python3.6'

sc = pyspark.SparkContext('local[*]')
#sc = pyspark.SparkContext("spark://ip-172-31-12-230.us-west-1.compute.internal:7077", "Simple App")
# do something to prove it works
rdd = sc.parallelize(range(1000))
rdd.takeSample(False, 5 )

In [18]:
sc.stop()

# Set Up Spark Clusters

In [19]:
#local
#os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.amazonaws:aws-java-sdk:1.10.34,org.apache.hadoop:hadoop-aws:2.6.0  pyspark-shell'
#aws
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.amazonaws:aws-java-sdk:1.10.34,org.apache.hadoop:hadoop-aws:2.6.0 --driver-cores 3 --driver-memory 12g --deploy-mode client pyspark-shell'
os.environ['PYSPARK_PYTHON'] = '/home/ubuntu/anaconda3/bin/python3.6'
os.environ['PYSPARK_DRIVER_PYTHON'] = '/home/ubuntu/anaconda3/bin/python3.6'

conf = pyspark.SparkConf()

# point to mesos master or zookeeper entry (e.g., zk://10.10.10.10:2181/mesos)
conf.setMaster("spark://ip-172-31-12-230.us-west-1.compute.internal:7077")
conf.set("spark.executor.uri", "~/server/spark-2.3.0-bin-hadoop2.7.tgz")
#conf.set("spark.executor.instances", "1")
conf.set("spark.executor.memory", "7g")
conf.set("spark.executor.cores", "4")
conf.set("spark.sql.shuffle.partitions", "48")
conf.set("spark.default.parallelism ", "48")
conf.set("spark.spark.dynamicAllocation.enabled", "true")
#sc = pyspark.SparkContext("local[*]", conf=conf)
sc = pyspark.SparkContext("spark://ip-172-31-12-230.us-west-1.compute.internal:7077", "NYC-Taxi-EDA", conf=conf)
sqlContext = SQLContext(sc)
#sqlContext.sql("set spark.sql.shuffle.partitions=8")

hadoopConf = sc._jsc.hadoopConfiguration()
myAccessKey = 'AKIAJYNHARDGFIT2A7XA' 
mySecretKey = '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'
hadoopConf.set("fs.s3.impl", "org.apache.hadoop.fs.s3native.NativeS3FileSystem")
hadoopConf.set("fs.s3.awsAccessKeyId", myAccessKey)
hadoopConf.set("fs.s3.awsSecretAccessKey", mySecretKey)

In [ ]:
#sc._conf.get('spark.driver.memory')
sc._conf.getAll()

# Some Column Information

**vendor_id**'
Different Companies

**pickup_datetime**

**dropoff_datetime**

**rate_code**
1=Standard rate
2=JFK
3=Newark
4=Nassau or Westchester
5=Negotiated fare
6=Group ride

**passenger_count**

**trip_distance**

**extra**
$0.50 and $1 rush hour and overnight charges.

**tolls_amount**

**trip_duration**

**pickup_year**

**pickup_mounth**

**pickup_day**
Monday - Sunday

**is_holiday**

**PU_neighborhood**

**DO_neighborhood**

**trip_speed**

# Helper Data

In [20]:
new_col_yl_16 = ['vendor_id',
                 'pickup_datetime',
                 'dropoff_datetime',
                 'passenger_count',
                 'trip_distance',
                 'pickup_longitude',
                 'pickup_latitude',
                 'rate_code',
                 'store_and_forward',
                 'dropoff_longitude', 
                 'dropoff_latitude',
                 'payment_type',
                 'fare_amount',
                 'extra',
                 'mta_tax',
                 'tip_amount',
                 'tolls_amount',
                 'improvement_surcharge',
                 'total_amount',
                 'PULocationID',
                 'DOLocationID']

new_col_yl_bf16 = ['vendor_id',
                 'pickup_datetime',                
                 'dropoff_datetime',
                 'passenger_count',
                 'trip_distance',
                 'pickup_longitude',
                 'pickup_latitude',
                 'rate_code',
                 'store_and_forward',
                 'dropoff_longitude', 
                 'dropoff_latitude',
                 'payment_type',
                 'fare_amount',
                 'extra',
                 'mta_tax',
                 'tip_amount',
                 'tolls_amount',
                 'total_amount']

#2016
new_col_gr_16 = [ 'vendor_id',
                 'pickup_datetime',                
                 'dropoff_datetime',
                 'store_and_forward',
                 'rate_code',
                 'pickup_longitude',
                 'pickup_latitude',
                 'dropoff_longitude', 
                 'dropoff_latitude',
                 'passenger_count',
                 'trip_distance',
                 'fare_amount',
                 'extra',
                 'mta_tax',
                 'tip_amount',
                 'tolls_amount',
                 'Ehail_fee',
                 'improvement_surcharge',
                 'total_amount',
                 'payment_type',
                 'trip_type',
                 'PULocationID',
                 'DOLocationID']

#2015
new_col_gr_15 = [ 'pickup_datetime',                
                 'dropoff_datetime',
                 'store_and_forward',
                 'rate_code',
                 'dropoff_latitude',
                 'passenger_count',
                 'trip_distance',
                 'fare_amount',
                 'extra',
                 'mta_tax',
                 'tip_amount',
                 'tolls_amount',
                 'Ehail_fee',
                 'total_amount',
                 'payment_type',
                 'trip_type',
                 'pickup_longitude',
                 'pickup_latitude',
                 'dropoff_longitude', 
                 'vendor_id',
                 'Improvement_surcharge']

#2014
new_col_gr_14 = [ 'vendor_id',
                 'pickup_datetime',                
                 'dropoff_datetime',
                 'store_and_forward',
                 'rate_code',
                 'pickup_longitude',
                 'pickup_latitude',
                 'dropoff_longitude', 
                 'dropoff_latitude',
                 'passenger_count',
                 'trip_distance',
                 'fare_amount',
                 'extra',
                 'mta_tax',
                 'tip_amount',
                 'tolls_amount',
                 'Ehail_fee',
                 'total_amount',
                 'payment_type',
                 'trip_type']


#2013
new_col_gr_13 = [ 'pickup_datetime',                
                 'dropoff_datetime',
                 'store_and_forward',
                 'rate_code',
                 'dropoff_latitude',
                 'passenger_count',
                 'trip_distance',
                 'fare_amount',
                 'extra',
                 'mta_tax',
                 'tip_amount',
                 'tolls_amount',
                 'Ehail_fee',
                 'total_amount',
                 'payment_type',
                 'trip_type',
                 'pickup_longitude',
                 'pickup_latitude',
                 'dropoff_longitude', 
                 'vendor_id']

payment_dict = {2009: ["cash", "credit"],
                2010: ["cas", 'cre'],
                2011: ['csh', 'crd'],
                2012: ['csh', 'crd'],
                2013: ['csh', 'crd'],
                2014: ['csh', 'crd'],
                2015: ['1', '2'],
                2016: ['1', '2'],
               'green': ['1', '2']}

# Helper Functions

In [21]:
#https://github.com/am2786/NYC-taxi-data-analysis/blob/master/Sections%204%20%26%205.ipynb
us_holidays = holidays.UnitedStates()

#geo_data =  json.load(open('NY_neighborhoods.geojson'))   # GeoJson file
geo_data =  json.load(open('NY_manhanttan_neighborhoods.geojson'))  
area_data = json.load(open('area_dict.json'))  

def holiday(datetime):
    return datetime in us_holidays

def day_of_week(datetime):
    return datetime.isoweekday()

def neighborhood_mapper(lon, lat):
    try:
        for i, feature in enumerate(geo_data['features']):     
            coords = feature['geometry']['coordinates'][0]
            p = path.Path(coords)
            if p.contains_point((lon, lat)):
                return feature['properties']['neighborhood']
    except:
        return 'none'
    return 'other'
        
def vendor_id(code):
    if code == 1:
        return "CMT"
    elif code == 2:
        return "VFI"
    else:
        return "other"

def area_mapper(neighborhood):
    try:
        return area_data[neighborhood]
    except:
        return neighborhood
# udf converts a function into one that can be applied over
# a dataframe column. This is kind of like Pandas apply/map functionality.
holiday = udf(holiday)
day_of_week = udf(day_of_week)
neighborhood_mapper = udf(neighborhood_mapper)
vendor_id = udf(vendor_id)
area_mapper = udf(area_mapper)

In [22]:
def taxi_data_cleaner(data, to_datetime, to_vendor_code, payment_array):
    
    # Getting rid of rides with 0 passengers
    data = data.filter(data.passenger_count > 0)
    data = data.filter(data.passenger_count <= 6.)
    
    # Getting rid of rides with impossibly low fares
    data = data.filter(data.fare_amount > 1.)
    
    # Getting rid of rides with impossibly low duration
    data = data.filter(lower(data.payment_type).isin(payment_array) == True)  
    
    # Getting rid of rides with impossibly low duration
    data = data.filter(data.trip_distance <= 60.)
    data = data.filter(data.trip_distance > 0.)

    if to_datetime:
        data = data.withColumn("pickup_datetime", 
                               to_timestamp('pickup_datetime', 'MM/dd/yyyy hh:mm:ss a'))
        data = data.withColumn("dropoff_datetime",
                               to_timestamp('dropoff_datetime', 'MM/dd/yyyy hh:mm:ss a'))
    
    #if to_vendor_code:
    #    data = data.withColumn("vendor_id", vendor_id('vendor_id'))
    
    data = data.withColumn("trip_duration", (unix_timestamp('dropoff_datetime', 'MM/dd/yyyy hh:mm:ss a') 
                                        - unix_timestamp('pickup_datetime', 'MM/dd/yyyy hh:mm:ss a'))
                           .cast('double'))
    
    data = data.withColumn("pickup_year", year('pickup_datetime'))
    #data = data.withColumn("dropoff_year", year('dropoff_datetime'))
    data = data.withColumn("pickup_month", month('pickup_datetime'))
    #data = data.withColumn("dropoff_month", month('dropoff_datetime'))
    data = data.withColumn("pickup_day", dayofmonth('pickup_datetime'))
    data = data.withColumn("pickup_dayweek", day_of_week('pickup_datetime')) 
    data = data.withColumn("pickup_hour", hour('pickup_datetime'))
    #data = data.withColumn("dropoff_hour", hour('dropoff_datetime'))
    data = data.withColumn("is_holiday", holiday('pickup_datetime'))   
    data = data.withColumn("PU_neighborhood", neighborhood_mapper('pickup_longitude', 'pickup_latitude')) 
    data = data.withColumn("PU_area", area_mapper('PU_neighborhood')) 
    data = data.withColumn("DO_neighborhood", neighborhood_mapper('dropoff_longitude', 'dropoff_latitude'))
    data = data.withColumn("DO_area", area_mapper('DO_neighborhood')) 
    data = data.withColumn("trip_speed", 
                           (data.trip_distance.cast('double')) / (data.trip_duration.cast('double')/3600))
    
    # Getting rid of rides with impossibly low duration
    data = data.filter(data.trip_duration > 0.)
    data = data.filter(data.trip_duration <= 3600.)
    
    # Getting rid of rides with impossibly low duration
    data = data.filter(data.trip_speed <= 60.)
    
    return(data)

In [23]:
new_col_name = {'yellow': [new_col_yl_bf16, new_col_yl_bf16],
                'green': [new_col_gr_13, new_col_gr_14, 
                          new_col_gr_15, new_col_gr_16]}

yellow_data = [('yellow', x, False, False) for x in range(2009, 2016)] + [('yellow', 2016, True, True)]
green_data = [('green', x, True, True) for x in range(2013, 2017)]
#both_data = green_data + [('yellow', 2016, True, True)] + yellow_data

In [ ]:
%%time
for data_point in [yellow_data[4]]:
    taxi_type = data_point[0]
    data_year = data_point[1]
    to_datetime = data_point[2]
    to_vendor_id = data_point[3]
    
    # file path
    file = "s3://ycczhao-nyc-taxi-data/" + str(data_year) + '_' + taxi_type + '.csv'
    # read in as dataframe
    df = sqlContext.read.csv(file, sep=',',
                         inferSchema=True,
                         header=True)
    
    # change column names
    if taxi_type == 'yellow' and data_year < 2016:
        to_col_name = new_col_name[taxi_type][0]
    elif taxi_type == 'yellow' and data_year == 2016:
        to_col_name = new_col_name[taxi_type][1]
    else:
        to_col_name = new_col_name[taxi_type][data_year-2013]
        
    for old, new in zip(df.columns, to_col_name):
        df = df.withColumnRenamed(old, new)

        
    # drop useless columns
    for field in ['store_and_forward', 
                  'trip_type', 'vendor_id',
                  'mta_tax', 'tip_amount',
                  'total_amount','PULocationID', 'DOLocationID',
                  'Ehail_fee', 'improvement_surcharge', 
                  'extra', 'tolls_amount',
                  'Improvement_surcharge']:

        df = df.drop(field)
            
    # payment codes vary every year    
    if taxi_type == 'yellow':
        payment_code = payment_dict[data_year]
    else:
        payment_code = payment_dict[taxi_type]

    # data cleaning    
    new_df = taxi_data_cleaner(df, to_datetime, to_vendor_id, payment_code)

    # drop useless columns
    for field in ['pickup_longitude', 'pickup_latitude',
                  'dropoff_latitude', 'dropoff_longitude',
                  'fare_amount', 'payment_type',
                  'passenger_count']:

        new_df = new_df.drop(field)

In [ ]:
output_file = "s3://ycczhao-nyc-taxi-data/new_" + str(data_year) + '_' + taxi_type + '.parquet'
new_df.repartition(48).write.partitionBy('PU_area', 'DO_area').parquet(output_file, mode="overwrite")

In [27]:
pd.DataFrame(new_df.take(20), columns=new_df.columns)

,pickup_datetime,dropoff_datetime,trip_distance,rate_code,trip_duration,pickup_year,pickup_month,pickup_day,pickup_dayweek,pickup_hour,is_holiday,PU_neighborhood,PU_area,DO_neighborhood,DO_area,trip_speed
0,2013-01-01 15:11:48,2013-01-01 15:18:10,1.0,1,382.0,2013,1,1,2,15,true,Midtown,midtown,Midtown,midtown,9.424084
1,2013-01-06 00:18:35,2013-01-06 00:22:54,1.5,1,259.0,2013,1,6,7,0,false,West Village,downtown,Chelsea,downtown,20.849421
2,2013-01-05 18:49:41,2013-01-05 18:54:23,1.1,1,282.0,2013,1,5,6,18,false,West Village,downtown,SoHo,downtown,14.042553
3,2013-01-07 23:54:15,2013-01-07 23:58:20,0.7,1,245.0,2013,1,7,1,23,false,Midtown,midtown,Theater District,midtown,10.285714
4,2013-01-07 23:25:03,2013-01-07 23:34:24,2.1,1,561.0,2013,1,7,1,23,false,Murray Hill,midtown,Chelsea,downtown,13.475936
5,2013-01-07 15:27:48,2013-01-07 15:38:37,1.7,1,649.0,2013,1,7,1,15,false,Upper East Side,upper east,Midtown,midtown,9.429892
6,2013-01-08 11:01:15,2013-01-08 11:08:14,0.8,1,419.0,2013,1,8,2,11,false,Chelsea,downtown,Chelsea,downtown,6.873508
7,2013-01-07 12:39:18,2013-01-07 13:10:56,10.7,1,1898.0,2013,1,7,1,12,false,Theater District,midtown,LaGuardia Airport,airport,20.295047
8,2013-01-07 18:15:47,2013-01-07 18:20:47,0.8,1,300.0,2013,1,7,1,18,false,Kips Bay,midtown,Gramercy,downtown,9.600000
9,2013-01-07 15:33:28,2013-01-07 15:49:26,2.5,1,958.0,2013,1,7,1,15,false,Upper West Side,upper west,Harlem,uptown,9.394572
10,2013-01-08 13:11:52,2013-01-08 13:19:50,1.3,1,478.0,2013,1,8,2,13,false,Upper West Side,upper west,Upper East Side,upper east,9.790795
11,2013-01-08 09:50:05,2013-01-08 10:02:54,0.7,1,769.0,2013,1,8,2,9,false,Chelsea,downtown,Hell's Kitchen,midtown,3.276983
12,2013-01-10 12:07:08,2013-01-10 12:17:29,2.3,1,621.0,2013,1,10,4,12,false,Upper West Side,upper west,Upper East Side,upper east,13.333333
13,2013-01-07 07:35:47,2013-01-07 07:46:00,2.3,1,613.0,2013,1,7,1,7,false,Upper West Side,upper west,Midtown,midtown,13.507341
14,2013-01-10 15:42:29,2013-01-10 16:04:02,3.2,1,1293.0,2013,1,10,4,15,false,Nolita,downtown,Midtown,midtown,8.909513
15,2013-01-10 14:27:28,2013-01-10 14:45:21,4.4,1,1073.0,2013,1,10,4,14,false,Financial District,downtown,Theater District,midtown,14.762349
16,2013-01-07 22:09:59,2013-01-07 22:19:50,1.7,1,591.0,2013,1,7,1,22,false,Midtown,midtown,Hell's Kitchen,midtown,10.355330
17,2013-01-07 17:18:16,2013-01-07 17:20:55,0.7,1,159.0,2013,1,7,1,17,false,Upper East Side,upper east,Upper East Side,upper east,15.849057
18,2013-01-07 06:08:51,2013-01-07 06:13:14,1.7,1,263.0,2013,1,7,1,6,false,Upper East Side,upper east,Midtown,midtown,23.269962
19,2013-01-07 22:25:46,2013-01-07 22:36:56,2.3,1,670.0,2013,1,7,1,22,false,Theater District,midtown,Upper West Side,upper west,12.358209

In [ ]:
%%time
new_df.select("PU_neighborhood").repartition(1)

In [28]:
%%time
new_df.rdd.getNumPartitions()

CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 150 ms

217

In [ ]:
%%time

foo = (new_df.groupby('pickup_month', 'pickup_month', 'pickup_day', 'PU_area', 'DO_area')
       .agg(count("*").alias("cnt"), avg("trip_speed").alias("avg"))
       .toPandas())

#new_df.select('PU_neighborhood').repartition(1).rdd.map(lambda x: (x, 1)).reduceByKey(lambda x,y: x+y).collect()

In [ ]:
%%time
new_df.groupby('PU_neighborhood').count().show()

#new_df.select('PU_neighborhood').repartition(1).rdd.map(lambda x: (x, 1)).reduceByKey(lambda x,y: x+y).collect()

In [ ]:
%%time
histogram = new_df.select('trip_speed').rdd.flatMap(lambda x: x).histogram(11)

pd.DataFrame(list(zip(histogram[0], histogram[1])),
             columns=['bin','frequency']).set_index('bin').plot(kind='bar');